<head>
    <title>CREAR USUARIO:EL GRAN BUDA "Bingo Virtual"</title>
    <script defer src="/javascript/register.js"> </script>
</head>

<body>
    <div class="content">
        <section class="h-80 ">
            <div class="container py-5 h-80">
                <div class="row d-flex justify-content-center align-items-center h-80">
                    <div class="col-xl-10">
                        <div class="card rounded-3 text-black" id="border">
                            <div class="row g-0">
                                <div class="col-lg-6">
                                    <div class="card-body p-md-5 mx-md-4" id="card">

                                        <div class="text-center">
                                            <Table>
                                                <tr>
                                                    <th>
                                                        <img src="/images/logo.bingo.png" alt="logo" />
                                                    </th>
                                                    <th>
                                                        <h4 class="mt-1 mb-5 pb-1">EL GRAN BUDA</h4>
                                                    </th>
                                                </tr>
                                            </Table>
                                            
                                            
                                        </div>
                                        <h3>FORMULARIO DE REGISTRO DE USUARIOS</h3>
                                        <br>
                                        <form>

                                            <div class="form-outline mb-4">
                                                <input type="email" id="username" name="username" class="form-control"
                                                    placeholder="Correo electronico" />
                                                <label for=""></label>
                                                <div class="form-outline mb-4">
                                                    <input type="password" id="password" name="password" class="form-control"
                                                        placeholder="Contraseña" />
                                                </div>

                                                <div class="text-center pt-1 mb-5 pb-1">
                                                    <button class="btn btn-info btn-block fa-lg gradient-custom-2 mb-3"
                                                        id="btnRegister">
                                                        REGISTRAR
                                                        {{!-- <a  id="linkRegister" href="./signin">REGISTRAR</a> --}}
                                                        </button>
                                                    
                                                </div>

                                                <p class="medium mb-0">Para ingresar al lobby del bingo registre un correo y 
                                                    una contraseña y dar click en registrar y ya en el login ingresar los
                                                    datos de registro

                                                </p>

                                        </form>

                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
