<head>
    <title>Sala de espera:EL GRAN BUDA "Bingo Virtual"</title>
    <script defer src="/javascripts/lobby.js"> </script>
    <link rel="stylesheet" href="/css/styleLobby.css" />

</head>
<body>
  <div class="container mx-auto justify-content-center align-items-center h-80 ">
    <div><h1>SALA DE ESPERA</h1></div>
    
      <h1 id="number"></h1>
      <h2 id="mss"></h2>
      <div class=" mx-auto  justify-content-center align-items-center h-80" id="start">
        <a class="btn btn-danger btn-block fa-lg gradient-custom-2 mb-5" id="btnStart">JUGAR</a>
      </div>
      
    
  </div>  
</body>