<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>BINGO VITUAL</title>
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous"
  />
  
  <script defer src="/javascripts/startGame.js"></script>
  <link rel="stylesheet" href="/css/startGame.css" />
</head>
<body>
  
  <b>
    <h2 style="margin-top: 80px;">¡BIENVENIDO!</h2>
  </b>
  <br>
    
  <table id="board">
    <tr>
      <th>B</th>
      <th>I</th>
      <th>N</th>
      <th>G</th>
      <th>O</th>
    </tr>
  </table>

  <footer>

  </footer>
  <div  id="results">
    
    <h3 id="winner"></h3>
    
  </div>  
  <div id="end">
    <img src="/images/premio.jpg" alt="">
  </div>    
  <div class="col-2- mt-3 mx-auto justify-content-center" id="tbl-user">
    <b><h4>USUARIOS JUGANDO</h3></b>
    <table class="table table-sm table-info table-hover text-center" id="usersList">
        <thead id="titletbl">
            <tr  >
                <th id="titletbl">Id</th>
                <th id="titletbl">IdLogin</th>
            </tr>
        </thead>
        <tbody id="tbusers"></tbody>
    </table>
      
  </div>
  <div class="col-2- mt-3 mx-auto justify-content-center" id="tbl-user">
    <table class="table table-sm table-info table-hover text-center">
        <tbody id="tbingo"></tbody>
    </table>
      
  </div>

 {{!--  <div id="overlay"></div> --}}
  
  <footer>

  </footer>
</body>