body{
    
  background-image: url('../images/fondo.bingo.png');
  background-repeat: no-repeat;
  width: 1350px;
  height: 1000px;
  background-size: cover;
  position: relative;
}

h1{
  font-size: 80px;
  text-align: center;
  color: rgb(196, 28, 70);
  font-family: "lucida", cursive;
  margin-top: 30px;
}