body{
    
    background-image: url('../images/fondo.bingo.png');
    background-repeat: no-repeat;
    width: 1350px;
    height: 1000px;
    background-size: cover;
    position: relative;
}

h1{
    font-size: 50px;
    text-align: center;
}

table{
    width: 500px;
	height: 300px;
    color: blue;
}

h3{
    text-align: center;
}

h1,h2{
    color: rgb(110, 28, 110)
}


#btnStart{
    display: none;
    text-decoration: none;
    width: 50%;
    font-size: 50px;
    margin-left: 100px;

}
.container{
    font-family: "Lobster", cursive;
    text-align: center;
    padding: 100px;
   
    align-items: inherit;
}

#start{
    margin-left: 500px;
    padding-top: 100px;
    display: flex;
}

#tbl-user{
    width:50%;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    color: rgb(18, 18, 65);
}

